{% extends "base.html" %}
{% load static %}

{% block title %}Password Reset Complete - Municipality Project Tracker{% endblock %}
{% block extra_head %}<link rel="stylesheet" href="{% static 'css/templates/registration/password_reset_confirm.css' %}">{% endblock %}
{% block show_header %}{% endblock %}
{% block show_footer %}{% endblock %}

{% block content %}
<div class="page-wrapper">
    <div class="reset-form-wrapper invalid-link-wrapper">
        <h1 class="form-title">Password Successfully Changed</h1>
        <div class="success-message">Your password has been updated. You can now sign in with your new password.</div>
        <a href="{% url 'login' %}" class="back-link">Return to Login</a>
    </div>
</div>
{% endblock %}
